@if(text()){
<button [matButton]="variant() == 'secondary' ? 'text' : 'elevated'" (click)="buttonClick.emit()"
    [disabled]="disabled()" [type]="type()" 
    [matTooltip]="tooltip()" [class]="{'mat-warm': variant() === 'destructive'}">
    @if (icon() && iconPosition() === 'left') {
    <mat-icon class="mr-2">{{ icon() }}</mat-icon>
    }
    {{ text() }}
    @if (icon() && iconPosition() === 'right') {
    <mat-icon class="ml-2">{{ icon() }}</mat-icon>
    }
</button>
} @else {
@switch (variant()) {
@case ('primary') {
<button matIconButton color="primary" (click)="buttonClick.emit()" [disabled]="disabled()" [type]="type()"
    class="icon-only" [matTooltip]="tooltip()">
    @if (icon()) {
    <mat-icon>{{ icon() }}</mat-icon>
    }
</button>
}
@case ('destructive') {
<button matIconButton color="warn" (click)="buttonClick.emit()" [disabled]="disabled()" [type]="type()"
    class="icon-only" [matTooltip]="tooltip()">
    @if (icon()) {
    <mat-icon>{{ icon() }}</mat-icon>
    }
</button>
}
@default {
<button matIconButton color="accent" (click)="buttonClick.emit()" [disabled]="disabled()" [type]="type()"
    class="icon-only" [matTooltip]="tooltip()">
    @if (icon()) {
    <mat-icon>{{ icon() }}</mat-icon>
    }
</button>
}
}
}