@if(text()){
<button [matButton]="variant() == 'secondary' ? 'text' : 'elevated'" (click)="buttonClick.emit()"
    [disabled]="disabled()" [matTooltip]="tooltip()" [class]="{'mat-warm': variant() === 'destructive'}">
    @if (icon() && iconPosition() === 'left') {
    <mat-icon class="mr-2">{{ icon() }}</mat-icon>
    }
    {{ text() }}
    @if (icon() && iconPosition() === 'right') {
    <mat-icon class="ml-2">{{ icon() }}</mat-icon>
    }
</button>
} @else {
<button matIconButton (click)="buttonClick.emit()" [disabled]="disabled()" [matTooltip]="tooltip()"
    [class]="{'mat-warm': variant() === 'destructive'}" color="primary">
    <mat-icon [class]="{'mat-warm': variant() === 'destructive'}">{{ icon() }}</mat-icon>
</button>
}