<form [formGroup]="form()" [class]="controlsConfiguration().cssClass">
  @for (item of controlsConfiguration().nestedFormControls; track $index) {
  @switch (item.type) {

  @case ('array') {
  <div class="flex items-center">
    @if (item.label) { <p [class]="item.labelCssClass">{{ item.label }}</p> }
    <app-button [variant]="'secondary'" [icon]="'add'" (buttonClick)="addFormArrayItem(form(), item)"></app-button>
  </div>
  @for (arrayForm of getFormArrayItems(form(), item).controls; track $index) {
  <div class="flex items-center">
    <app-form [form]="asFormGroup(arrayForm)" [controlsConfiguration]="item || []" [index]="$index"
      [controlList]="getFormArrayItems(form(), item)" [class]="'flex-1'"></app-form>
    <app-button [variant]="'destructive'" [icon]="'delete'"
      (buttonClick)="removeFormArrayItem(form(), item, $index)"></app-button>
  </div>
  }
  }

  @case ('group') {
  @if (item.label) { <p [class]="item.labelCssClass">{{ item.label }}</p> }
  <app-form [form]="asFormGroup(getFormControl(form(), item))" [controlsConfiguration]="item || []" [index]="$index"
    [controlList]="getFormArrayItems(form(), item)"></app-form>
  }

  @case ('text')
  @case ('number') {
  <app-form-input [class]="item.cssClass" [type]="item.type" [control]="getFormControl(form(), item)"
    [label]="item.label || ''" [placeholder]="item.placeholder || ''"></app-form-input>
  }

  @case ('select') {
  <app-form-select [class]="item.cssClass" [control]="getFormControl(form(), item)" [label]="item.label || ''"
    [placeholder]="item.placeholder || ''"
    [options]="typeof item.options === 'function' ? item.options() : item.options || []"></app-form-select>
  }

  @case ('button') {
  <app-button [class]="item.cssClass" [text]="item.label" [icon]="item.icon" [variant]="item.variant || 'secondary'"
    (buttonClick)="item.callback?.({ index: index(), controlList: controlList(), form: form() })"
    [disabled]="typeof item.disabled === 'function' ? item.disabled() : item.disabled || false"></app-button>
  }
  }
  }
</form>