<h2 mat-dialog-title>Create New Container</h2>
<mat-dialog-content>
    <form [formGroup]="form">
        <app-form-input [control]="nameControl" [label]="nameLabel()" [required]="required()"></app-form-input>

        <div class="mt-4">
            <div class="flex justify-between items-center mb-2">
                <h3 class="text-lg font-semibold">Properties</h3>
                <app-button [variant]="'secondary'" [icon]="'add'" [text]="'Add Property'" [type]="'button'" (buttonClick)="addProperty()"></app-button>
            </div>
            <div formArrayName="properties">
                @for (property of properties.controls; track $index) {
                <div [formGroupName]="$index"
                    class="flex items-center mb-2">
                    <app-form-select [control]="getPropertyNameControl($index)" [label]="propertyNameLabel()" [required]="required()" [options]="propertyDefinitionOptions()"></app-form-select>
                    <app-form-input [control]="getPropertyValueControl($index)" [label]="valueLabel()" [required]="required()"></app-form-input>
                    <app-button [variant]="'icon-destructive'" [icon]="'delete'" [type]="'button'" (buttonClick)="removeProperty($index)"></app-button>
                </div>
                }
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <app-button [variant]="'secondary'" [text]="'Cancel'" [type]="'button'" (buttonClick)="onCancel()"></app-button>
    <app-button [variant]="'primary'" [icon]="'add'" [text]="'Create'" [type]="'button'" [disabled]="!form.valid" (buttonClick)="onSubmit()"></app-button>
</mat-dialog-actions>