<div class="p-4">
  <div class="flex justify-between items-center mb-4">
    <h1 class="text-2xl font-bold">{{ isCreating() ? 'Create Container' : 'Update Container' }}</h1>
    <div>
      <app-button [variant]="'secondary'" [text]="'Back to Containers'" (buttonClick)="goBack()"></app-button>
    </div>
  </div>

  @if (!isLoading()) {
    @if (isCreating() || container()) {
      @if (isEditing()) {
      <form [formGroup]="form" (ngSubmit)="save()">
        <app-form-input [control]="nameControl" [label]="nameLabel" [required]="required" class="mb-4"></app-form-input>

        <div class="mb-4">
          <div class="flex justify-between items-center mb-2">
            <h3 class="text-lg font-semibold">Properties</h3>
            <app-button [variant]="'secondary'" [icon]="'add'" [text]="'Add Property'"
              (buttonClick)="addProperty()"></app-button>
          </div>
          <div formArrayName="properties">
            @for (property of properties.controls; track $index) {
            <div [formGroupName]="$index"
              class="flex items-center mb-2">
              <app-form-input [control]="getPropertyNameControl($index)" [label]="propertyNameLabel" [required]="required"
                class="mr-2 flex-1"></app-form-input>
              <app-form-input [control]="getPropertyValueControl($index)" [label]="valueLabel" [required]="valueRequired"
                class="mr-2 flex-1"></app-form-input>
              <app-button [variant]="'icon-destructive'" [icon]="'delete'"
                (buttonClick)="removeProperty($index)"></app-button>
            </div>
            }
          </div>
        </div>

        <div class="flex justify-end">
          <app-button [variant]="'secondary'" [type]="'button'" [text]="'Cancel'" (buttonClick)="cancel()"></app-button>
          <app-button [variant]="'primary'" [type]="'submit'" [disabled]="!form.valid"
            [text]="isCreating() ? 'Create' : 'Update'" class="ml-2"></app-button>
        </div>
      </form>
      }
    } @else {
      <p>Container not found.</p>
    }
  } @else {
    <p>Loading container details...</p>
  }
</div>